body{
  background-image: url('../images/rainbow.jpg');
  text-align: center;
}
h1 {
  color: blue;
}
h4 {
  color: green;
}

.card-image{
  width: 106px;
  height: 159px;
}
.card{
  width: 106px;
  height: 250px;
  opacity: .76;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {

  body {
    padding: 0;
    margin: 0;
  }
  .card {
    width: 100%;
    margin: 0 0 2px;

  }
  .card-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}
